
@{
    ViewBag.Title = "Setup Class";
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Portal")">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Class</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Class Table
            </div>
            <div class="card-body">

                <button class="btn btn-primary" type="button" style="margin-bottom: 10px;" data-toggle="modal" data-target="#createClass">Create New Class</button>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Class ID</th>
                                <th>Class Name</th>
                                <th>Description</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)

                                {
                                <tr>
                                    <td class="userDataID">
                                        @*@Html.DisplayFor(modelItem => item.Id)*@
                                    </td>
                                    <td class="userDataUsername">
                                        @*@Html.DisplayFor(modelItem => item.username)*@
                                    </td>
                                    <td>
                                        @*Html.DisplayFor(modelItem => item.getStatusType)*@
                                    </td>
                                    <td>
                                        @*Html.DisplayFor(modelItem => item.getStatusType)*@
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary update-btn" data-toggle="modal" data-target="#updateUser">Update</button>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Axa Mansard 2019</span>
            </div>
        </div>
    </footer>

</div>

<!-- Scroll to Top Button-->
@*<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>*@

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="@Url.Action("Login", "Login")">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Create User Modal-->
<div class="modal fade" id="createClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Class</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="className" class="form-control" placeholder="Name" required="required">
                        <label for="classname">Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="description" class="form-control" placeholder="Description" required="required">
                        <label for="description">Description</label>
                    </div>
                </div>

                <select class="form-control" id="userStatus">
                    <option value="default">--Select Status--</option>
                    <option value="3">Active</option>
                    <option value="4">Inactive</option>
                </select>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="CreateNewUser();">Create</button>
            </div>
        </div>
    </div>
</div>

<!--Update User Modal-->
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User Status</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <label for="userUsernameCode" id="userUsernameCode" class="col-form-label" hidden></label>

                <select class="form-control" id="usersStatus">
                    <option value="default">--Select Status--</option>
                    <option value="3">Active</option>
                    <option value="4">Inactive</option>
                </select>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="UpdateUser();">Update</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="createNewUser" value="@Url.Content("~/Portal/CreateUser")" id="createNewUser" />
<input type="hidden" name="updateNewUser" value="@Url.Content("~/Portal/UpdateUser")" id="updateNewUser" />


<script src="~/Scripts/CustomJavaScript/plugins/jquery.min.js"></script>


<script>
    $(".update-btn").click(function () {

        var $row = $(this).closest("tr");
        var userId = $row.find(".userDataID").text();
        var userUN = $row.find(".userDataUsername").text();
        $("#userIdCode").text(userId);  
        $("#userUsernameCode").text(userUN);
    });
</script>
